.header-navigation a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.header-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.header-navigation a:hover {
    color: blue;
    font-weight: 700;
}